---
layout: default
keywords: 产品经理,产品设计,数据分析
description: 郭若斌关于产品经理、数据分析的思考。
---

{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
    <article class="post">{% include article.html %}</article>
{% endfor %}
<nav id="pagenavi">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page}}" class="prev">Prev</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{paginator.next_page}}" class="next">Next</a>
    {% endif %}
    <div class="center"><a href="{{ root_url }}/blog/archives">Blog Archives</a></div>
</nav>
